<div class = "emailbody"> Hello {{data.user_name}},</div><br>
<div class = "emailbody">Thank you for requesting an ERP System. The process has been completed and you can now log in at the domain listed below. Click on the link and use the Username and Password provided.</div>
<div class ="emailexception">Your Subscription Details on Domain <b>{{data.site}}</b></div>

<br><div class ="emaillog"><b>Username: </b> Administrator</div><br>
<div class ="emaillog"><b>Password: </b> admin</div><br>
<br>
<div class ="emaillog"><b>Note: </b> Please Use current Email ID for your ERP Instance</div><br>


<div class="footer">Thank you and Enjoy your new system.</div>
