<div class = "emailbody"> Hello {{data.user_name}},</div><br>
<div class = "emailbody">Thank you for requesting an ERPnext System. The process has been completed and you can now log in at subscription details on below domain:</div>
<div class ="emailexception">Your Subscription Details on Domain <b>{{data.site}}</b></div>

<br><div class ="emaillog"><b>Username: </b> Administrator</div><br>
<div class ="emaillog"><b>Password: </b> admin</div><br>


<div class="footer">Thanks and Regards.</div>

